/* tablet responsive styling start  */
@media screen and (max-width: 768px) {
  /* header section  */
  .navbar {
    flex-direction: column;
  }
  .nav-items {
    margin-top: 50px;
  }
  .banner {
    flex-direction: column-reverse;
    padding: 0 20px;
    background-image: none;
  }
  .banner {
    margin-top: 70px;
  }
  .banner-content-box {
    padding-top: 100px;
  }
  .banner-img{
    text-align: center;
  }
  .banner-img img{
    width: 90%;
  }

  /* we are gamer section  */
  .we-are-gamer-section{
    flex-direction: column;
    padding: 50px 20px;
  }
  .we-are-gamer-img img {
    width: 100%;
  }
  .we-are-gamer-contentbox{
    text-align: center;
  }
  .we-are-gamer-description{
    width: 100%;
  }

  /* online game funny videos section  */
  .online-games-funny-section {
    padding: 0 20px;
  }
  .online-games-cards {
    flex-wrap: wrap;
  }
  .online-games-cards .game-card {
    flex-basis: calc((100% - 30px) / 2);
  }
  /* play instantly section */
  .play-instantly-section {
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 150px;
  }
  .play-instantly-title {
    text-align: center;
    font-size: 40px;
    width: 100%;
    margin: 0 auto 27px;
  }
  .play-instantly-description {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
  .play-instantly-imgs .play-instantly-big-img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .play-instantly-imgs .play-instantly-small-img {
    width: 33%;
    left: -3%;
    bottom: -14%;
  }
  /* footer section */
  .useful-shortcut,
  .useful-links {
    flex-wrap: wrap;
  }
  .footer-logo-container img {
    width: 10%;
  }
}

/* mobile large responsive styling start  */
@media screen and (max-width: 425px) {
  /* header section  */
  .navbar,
  .nav-items {
    flex-direction: column;
  }
  .navbar {
    padding: 30px 0;
  }
  .logo-container {
    margin-bottom: 30px;
  }
  .logo-container img {
    width: 27%;
  }
  .banner {
    flex-direction: column-reverse;
    padding: 0 20px;
    background-image: none;
  }
  .banner-content-box {
    padding: 80px 50px 0;
  }
  .banner-title-1 {
    font-size: 40px;
  }
  .banner-title-2 {
    font-size: 78px;
  }
  .sign-in-btn,
  .go-rogue-btn {
    font-size: 16px;
    padding: 16px 24px;
  }
  /* online game funny videos section  */
  .online-games-funny-section {
    padding: 0 20px;
  }
  .online-games-cards {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }
  .online-games-cards .game-card {
    flex-basis: calc((100% - 30px) / 1);
  }
  .game-card-title {
    text-align: center;
    margin-top: 15px;
  }
  .online-games-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .specific-span-2 {
    font-size: 40px;
  }
  .online-games-description {
    font-size: 18px;
    width: 75%;
    margin: 0 auto;
  }
  /* play instantly section */
  .play-instantly-section {
    flex-direction: column;
    padding: 0 20px;
  }
  .play-instantly-title {
    text-align: center;
    width: 85%;
    margin: 0 auto 27px;
  }
  .play-instantly-description {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
  .play-instantly-imgs .play-instantly-big-img {
    display: block;
    width: 75%;
    margin: 0 auto;
  }
  .play-instantly-imgs .play-instantly-small-img {
    width: 30%;
    left: 0%;
    bottom: -14%;
  }
  /* action section  */
  .action-section {
    padding: 0 10px;
  }
  .action-rectangle-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 50px);
    gap: 30px 5px;
  }
  .action-rectangle-boxes .box {
    width: 130px;
    height: 50px;
    column-gap: 10px;
  }
  .action-rectangle-boxes .box img {
    width: 30px;
    height: 30px;
  }
  .action-rectangle-boxes .box p a {
    font-size: 11.7px;
  }
  /* footer section */
  .footer-logo-container img {
    width: 17%;
  }
  .useful-shortcut {
    margin-top: 30px;
  }
  .useful-shortcut,
  .useful-links {
    flex-wrap: wrap;
  }
  .social-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 0;
    margin: 50px 0;
  }
  .footer {
    gap: 40px;
  }
  .footer-text {
    margin-top: 40px;
  }
}
