/* Imported fonts from google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* Usability start  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
.specific-span-1 {
  background-image: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.specific-span-2 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 40px;
  border-radius: 48px;
  border: none;
}
/* Usability end  */

/* header section styling start  */
.header {
  min-height: 100vh;
  margin-bottom: 100px;
}
/* navbar styling start  */
.navbar {
  padding: 30px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
/* logo here  */
.logo-container {
  color: #0b0223;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
.logo-container img {
  width: 30%;
}
/* nav items here  */
.nav-items {
  display: flex;
  align-items: center;
  gap: 32px;
}
.nav-items li a {
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.nav-items .follow-us {
  display: flex;
  align-items: center;
  background-color: rgba(11, 2, 35, 0.1);
  padding: 17px 24px;
  border-radius: 8px;
}
.follow-us .follow-us-text {
  margin-right: 24px;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.nav-items .follow-us .fa-youtube {
  color: #ff0000;
  font-size: 24px;
}
.nav-items .follow-us .fa-tiktok {
  margin-left: 16px;
  font-size: 18px;
}
/* banner section styling start  */
.banner {
  padding: 0 120px;
  display: flex;
  align-items: center;
}
.banner-content-box,
.banner-img {
  flex-basis: 50%;
  height: 100%;
}
/* .banner-content-box{
    background-image: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
  clip-path: polygon(84% 29%, 100% 29%, 82% 63%, 100% 63%, 89% 100%, 0 100%, 0 0, 94% 0);
} */
.banner-title-1 {
  color: #0b0223;
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-title-2 {
  font-size: 87px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.banner-content-special-1,
.banner-content-special-2,
.banner-content-special-3 {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  gap: 10px;
}
.banner-content-special-2 {
  margin: 17px 0;
}
.banner-content-special-3 {
  margin-bottom: 40px;
}
.sign-in-btn {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  margin-right: 24px;
}
.go-rogue-btn {
  background-color: #4ec5f7;
}
.banner-img img {
  width: 100%;
  height: 100%;
  padding-top: 11px;
}

/* main tag styling start  */

/* online game funny videos section styling start  */
.online-games-funny-section {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.online-games-title {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}
.online-games-description {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.online-games-cards {
  display: flex;
  gap: 24px;
  margin-top: 48px;
}
.online-games-cards .game-card {
  flex-basis: calc((100% - 20px) / 3);
}
.online-games-cards .game-card img {
  width: 100%;
  /* height: 100%; */
}
.game-card-img-wrapper {
  position: relative;
}
.online-games-cards .game-card-img-wrapper::after {
  content: "";
  width: 100%;
  height: 99.5%;
  border-radius: 16px;
  background-color: #00000075;
  position: absolute;
  top: 0px;
  left: 0;
}
.game-card-play-icon {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.game-card-title {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
/* play instantly section styling start  */
.play-instantly-section {
  display: flex;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 200px;
  gap: 32px;
}
.play-instantly-texbox,
 .play-instantly-imgs{
  flex-basis: 50%;
}
.play-instantly-title {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  width: 65%;
  margin-bottom: 20px;
}
.play-instantly-description {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 65%;
}
.play-instantly-imgs{
  position: relative;  
}
.play-instantly-imgs .play-instantly-big-img {
  width: 100%;
}
.play-instantly-imgs .play-instantly-small-img{
  width: 50%;
  position: absolute;
  left: -23.5%;
  bottom: -15%;
}
