/* Imported fonts from google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* Usability start  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
.specific-span-1 {
  background-image: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.specific-span-2 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 40px;
  border-radius: 48px;
  border: none;
}
/* Usability end  */

/* header section styling start  */
.header {
  min-height: 100vh;
  margin-bottom: 100px;
}
/* navbar styling start  */
.navbar {
  padding: 30px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
/* logo here  */
.logo-container {
  color: #0b0223;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
.logo-container img {
  width: 30%;
}
/* nav items here  */
.nav-items {
  display: flex;
  align-items: center;
  gap: 32px;
}
.nav-items li a {
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.nav-items .follow-us {
  display: flex;
  align-items: center;
  background-color: rgba(11, 2, 35, 0.1);
  padding: 17px 24px;
  border-radius: 8px;
}
.follow-us .follow-us-text {
  margin-right: 24px;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.nav-items .follow-us .fa-youtube {
  color: #ff0000;
  font-size: 24px;
  cursor: pointer;
}
.nav-items .follow-us .fa-tiktok {
  margin-left: 16px;
  font-size: 18px;
  cursor: pointer;
}
/* banner section styling start  */
.banner {
  padding: 0 120px;
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 547px;
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: 52%;
  background-origin: border-box;
  background-position: center left, top left;
}
.banner-content-box,
.banner-img {
  flex-basis: 50%;
  height: 100%;
}
/* .banner-content-box{
  
} */
.banner-title-1 {
  color: #0b0223;
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-title-2 {
  font-size: 87px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.banner-content-special-1,
.banner-content-special-2,
.banner-content-special-3 {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  gap: 10px;
}
.banner-content-special-2 {
  margin: 17px 0;
}
.banner-content-special-3 {
  margin-bottom: 40px;
}
.sign-in-btn {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  margin-right: 24px;
}
.go-rogue-btn {
  background-color: #4ec5f7;
}
.banner-img img {
  width: 100%;
  height: 100%;
  margin-bottom: -32px;
}

/* main tag styling start  */

/* online game funny videos section styling start  */
.online-games-funny-section {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.online-games-title {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}
.online-games-description {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.online-games-cards {
  display: flex;
  gap: 24px;
  margin-top: 48px;
}
.online-games-cards .game-card {
  flex-basis: calc((100% - 20px) / 3);
}
.online-games-cards .game-card img {
  width: 100%;
  /* height: 100%; */
}
.game-card-img-wrapper,
.game-card-img-wrapper-with-border {
  position: relative;
}
/* overlay effect start*/
.online-games-cards .game-card-img-wrapper::after {
  content: "";
  width: 100%;
  height: 99.2%;
  border-radius: 16px;
  border: 2px solid #ff42a5;
  background-color: #00000075;
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.game-card-play-icon {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.overlay-title {
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 120%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s 0.2s linear;
}
.game-card-img-wrapper:hover::after {
  opacity: 1;
}
.game-card-img-wrapper:hover .game-card-play-icon {
  opacity: 1;
}
.game-card-img-wrapper:hover .overlay-title {
  opacity: 1;
}
.online-games-cards .game-card-img-wrapper-with-border::after {
  content: "";
  width: 100%;
  height: 99.5%;
  border-radius: 16px;
  background-color: #00000075;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.game-card-img-wrapper-with-border:hover::after {
  opacity: 1;
}
.game-card-img-wrapper-with-border:hover .game-card-play-icon {
  opacity: 1;
}
.game-card-img-wrapper-with-border:hover .overlay-title {
  opacity: 1;
}
/* .overlay effect end  */
.game-card-title {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 10px;
}

/* play instantly section styling start  */
.play-instantly-section {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 200px;
  gap: 32px;
}
.play-instantly-texbox,
.play-instantly-imgs {
  flex-basis: 50%;
}
.play-instantly-title {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  width: 65%;
  margin-bottom: 20px;
}
.play-instantly-description {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 65%;
}
.play-instantly-imgs {
  position: relative;
}
.play-instantly-imgs .play-instantly-big-img {
  width: 95%;
}
.play-instantly-imgs .play-instantly-small-img {
  border: 1px solid rgb(218, 216, 216);
  border-radius: 10px;
  border-top: none;
  border-right: none;
  width: 45%;
  position: absolute;
  left: -20.5%;
  bottom: -15%;
}

/* action section styling start  */
.action-section {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.action-rectangle-boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.action-rectangle-boxes .box {
  width: 225px;
  height: 75px;
  flex-shrink: 0; /* default value 1*/
  display: flex; 
  align-items: center;
  column-gap: 15px;
  border-radius: 50px;
  padding-left: 10px;
  outline-color: #ff42a5;
  transition: outline 1s linear;
}
/* hover effect */
.action-rectangle-boxes .box:hover {
  outline: 1px solid #ff42a5;
}
.action-rectangle-boxes .box img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.action-rectangle-boxes .box p a {
  color: #0b0223;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.2s linear;
}
/* hover effect */
.action-rectangle-boxes .box:hover p a {
  color: #ff42a5;
}
/* footer section styling start  */
.footer {
  background-color: #0b0223;
  color: #fff;
  display: flex;
  gap: 60px;
  flex-direction: column;
  text-align: center;
  padding: 70px 0 55px;
}
/* footer logo here  */
.footer-logo-container {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
.footer-logo-container img {
  width: 5%;
}
.useful-shortcut {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.useful-shortcut li a {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.social-links .fa-brands {
  font-size: 35px;
  color: #fff;
}
.useful-links {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.useful-links li a {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.footer-text {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-weight: 500;
  margin-top: -30px;
  line-height: 30px;
}
